<!DOCTYPE html>
<html lang="en">
  
<head>
    <meta charset="utf-8">
    <title>Login</title>
    <meta name="author" content="Mario Barrios"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes"> 
    
<link href="{{ STATIC_URL }}SisA/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
<link href="{{ STATIC_URL }}SisA/css/bootstrap-responsive.min.css" rel="stylesheet" type="text/css" />

<link href="{{ STATIC_URL }}SisA/css/font-awesome.css" rel="stylesheet">
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,400,600" rel="stylesheet">
    
<link href="{{ STATIC_URL }}SisA/css/style.css" rel="stylesheet" type="text/css">
<link href="{{ STATIC_URL }}SisA/css/pages/signin.css" rel="stylesheet" type="text/css">

</head>

<body>
    
    <div class="navbar navbar-fixed-top">
    
    <div class="navbar-inner">
        
        <div class="container">
        
        </div> <!-- /container -->
        
    </div> <!-- /navbar-inner -->
    
</div> <!-- /navbar -->



<div class="account-container">
    
    <div class="content clearfix">
        
        <form action="{% url "login" %}" method="post" >
        
            <h1>Iniciar sesión</h1>       
            
            <div class="login-fields">
                
                {% csrf_token %}
                <h4 class="form-signin-heading">{{ mensaje }}</h4>
                
                <div class="field">
                    <label for="id_username">Nombre</label>
                    <input type="text" id="id_username" name="username" value="" placeholder="nombre usuario" class="login username-field" />
                </div> <!-- /field -->
                
                <div class="field">
                    <label for="id_password">Contraseña:</label>
                    <input type="password" id="id_password" name="password" value="" placeholder="contraseña" class="login password-field"/>
                </div> <!-- /password -->
                 {% if next %}
                    <input type="hidden" value="{{ next }}" name="next"/>
                {% else %}
                    <input type="hidden" value="/" name="next"/>
                {% endif %}
            </div> <!-- /login-fields -->
            
            <div class="login-actions">
                                    
                <button class="button btn btn-success btn-large">Acceder</button>
                
            </div> <!-- .actions -->
            
            
            
        </form>
        
    </div> <!-- /content -->
    
</div> <!-- /account-container -->

</body>

</html>
