<div>
	<form action="{{ url }}" id="form" method="POST" enctype="multipart/form-data" >
			{% csrf_token %}
			<h4>Actividad</h4>
			<fieldset>
			<legend>Datos de la actividad</legend>
				<ul>
					{{ formA.as_ul }}
				</ul>
			</fieldset>
			<h4>Fotos</h4>
			<fieldset>
			<legend>Fotos de la actividad</legend>
				<ul>
					{{ formF.as_ul }}
				</ul>
			</fieldset>
			<h4>Soportes</h4>
			<fieldset>
			<legend>Soportes de la actividad</legend>
				<ul>
					{{ formS.as_ul }}
				</ul>
			</fieldset>
			<h4>Documentos</h4>
			<fieldset>
			<legend>Documentos de la actividad</legend>
				<ul>
					{{ formD.as_ul }}
				</ul>
			</fieldset>
	</form>
</div>

